# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.cs text
*.sln text
*.csproj text

# Binary files
*.png binary
*.jpg binary
*.ico binary
